### Loading processed discussion board data

In [3]:
import pandas as pd
import numpy as np
df = pd.read_pickle('data_clean.pkl')
df.Message_words = df.Message_words.apply(lambda x: [i.lower() for i in x])
df

,Date,User_Id,Message,NumberOfPastPosts,Role,Message_words
0,2001-09-01,pat,Need help choosing your next vehicle? Tell us ...,"10,421",Member,"[need, help, choosing, next, vehicle, tell, us..."
1,2001-09-01,willow25,"I'm buying a ""new"" car by the end of the year ...",2,Member,"[im, buying, new, car, end, year, first, choic..."
2,2001-10-01,dindak,Buy a 2001/ 2002 Oldsmobile Intrigue. It's one...,"6,632",Member,"[buy, 2001, 2002, oldsmobile, intrigue, one, b..."
3,2001-10-01,peteri1,Am looking at 1 of 4 choices to replace my 99G...,21,Member,"[looking, 1, 4, choices, replace, 99gs400, ive..."
4,2001-10-01,mrdetailer,Generally a 3-4 year old car range is a good o...,"1,118",Member,"[generally, 34, year, old, car, range, good, o..."
...,...,...,...,...,...,...
4146,2021-02-01,kyfdx,qbrozen said: show previous quoteskyfdx said:I...,"203,030",Moderator,"[qbrozen, said, show, previous, quoteskyfdx, s..."
4147,2021-02-01,backy,KamCottage said:Thank you backy. Since I first...,"18,946",Member,"[kamcottage, saidthank, backy, since, first, p..."
4148,2021-02-01,RayeEliza,I am doing major research in trying to find my...,6,Member,"[major, research, trying, find, new, car, lean..."
4149,2021-02-01,mlevine,I would lean toward subaru. Need to see which ...,512,Member,"[would, lean, toward, subaru, need, see, model..."
4150,2021-02-01,mcdawgg,RayeEliza said:I am doing major research in tr...,"1,712",Member,"[rayeeliza, saidi, major, research, trying, fi..."

### Loading and cleaning models.csv

In [6]:
models = pd.read_csv('models.csv', header=None, names = ['brand', 'model'])
models['brand'] = models['brand'].str.replace(r'[^\w\s]+', '', regex=True)
models['model'] = models['model'].str.replace(r'[^\w\s]+', '', regex=True)

#drop row with: car, problem, seat 
searchfor = ["car", "problem", "seat"]
models = models[~models.brand.str.contains('|'.join(searchfor))]

models

     brand    model
0    acura  integra
1    acura   Legend
2    acura    vigor
3    acura      rlx
4    acura      ILX
..     ...      ...
523  volvo     xc90
524  volvo      s60
525  volvo      s80
526  volvo      v60
527  volvo      c70

[525 rows x 2 columns]

### Replacing models with brands

In [72]:
messages = df.Message_words.to_list()

In [73]:
# numpy.where to do the replacement
messages2 = []
t = 0
for m in messages:
    for i,row in models.iterrows():
        m = np.where(m == row['model'], row['brand'], m)
        
    t+=1
    #print(t)
        
    messages2.append(m)
        
df['Message_words_v2'] = messages2

In [ ]:
import joblib 
df.to_pickle('df_brands.pickle')

### Brand Frequency Count

In [32]:
df = pd.read_pickle("df_brands.pickle")
df

,Date,User_Id,Message,NumberOfPastPosts,Role,Message_words,Message_words_v2
0,2001-09-01,pat,Need help choosing your next vehicle? Tell us ...,"10,421",Member,"[need, help, choosing, next, vehicle, tell, us...","[need, help, choosing, next, vehicle, tell, us..."
1,2001-09-01,willow25,"I'm buying a ""new"" car by the end of the year ...",2,Member,"[im, buying, new, car, end, year, first, choic...","[im, buying, new, car, end, year, first, choic..."
2,2001-10-01,dindak,Buy a 2001/ 2002 Oldsmobile Intrigue. It's one...,"6,632",Member,"[buy, 2001, 2002, oldsmobile, intrigue, one, b...","[buy, 2001, 2002, oldsmobile, intrigue, one, b..."
3,2001-10-01,peteri1,Am looking at 1 of 4 choices to replace my 99G...,21,Member,"[looking, 1, 4, choices, replace, 99gs400, ive...","[looking, 1, 4, choices, replace, 99gs400, ive..."
4,2001-10-01,mrdetailer,Generally a 3-4 year old car range is a good o...,"1,118",Member,"[generally, 34, year, old, car, range, good, o...","[generally, 34, year, old, car, range, good, o..."
...,...,...,...,...,...,...,...
4146,2021-02-01,kyfdx,qbrozen said: show previous quoteskyfdx said:I...,"203,030",Moderator,"[qbrozen, said, show, previous, quoteskyfdx, s...","[qbrozen, said, show, previous, quoteskyfdx, s..."
4147,2021-02-01,backy,KamCottage said:Thank you backy. Since I first...,"18,946",Member,"[kamcottage, saidthank, backy, since, first, p...","[kamcottage, saidthank, backy, since, first, p..."
4148,2021-02-01,RayeEliza,I am doing major research in trying to find my...,6,Member,"[major, research, trying, find, new, car, lean...","[major, research, trying, find, new, car, lean..."
4149,2021-02-01,mlevine,I would lean toward subaru. Need to see which ...,512,Member,"[would, lean, toward, subaru, need, see, model...","[would, lean, toward, subaru, need, see, model..."
4150,2021-02-01,mcdawgg,RayeEliza said:I am doing major research in tr...,"1,712",Member,"[rayeeliza, saidi, major, research, trying, fi...","[rayeeliza, saidi, major, research, trying, fi..."

In [33]:
mentions = []
brand_names = models.brand.unique()

for i in brand_names: 
    count = 0
    for j in df.Message_words_v2: 
        if(i in j):
            count +=1 
    
    mentions.append(count)

### Identifying top 10 brands by frequency:

In [34]:
brand_freq = pd.DataFrame({'brand': brand_names, 'mentions': mentions})
top10 = brand_freq.sort_values('mentions', ascending = False).head(10)
top10

         brand  mentions
9        honda       924
26      toyota       769
19      nissan       525
22       sedan       414
27  volkswagen       370
5    chevrolet       337
15       mazda       312
8         ford       284
2          bmw       275
11     hyundai       237

In [40]:
brand_names = top10.brand

for i in brand_names: 
    y = []
    for j in df.Message_words_v2: 
        if(i in j):
            var = 1
            y.append(var)
        else: 
            var = 0
            y.append(var)  
    
    df[i] = y

    
df

,Date,User_Id,Message,NumberOfPastPosts,Role,Message_words,Message_words_v2,honda,toyota,nissan,sedan,volkswagen,chevrolet,mazda,ford,bmw,hyundai
0,2001-09-01,pat,Need help choosing your next vehicle? Tell us ...,"10,421",Member,"[need, help, choosing, next, vehicle, tell, us...","[need, help, choosing, next, vehicle, tell, us...",0,0,0,0,0,0,0,0,0,0
1,2001-09-01,willow25,"I'm buying a ""new"" car by the end of the year ...",2,Member,"[im, buying, new, car, end, year, first, choic...","[im, buying, new, car, end, year, first, choic...",0,0,1,0,0,0,0,0,0,0
2,2001-10-01,dindak,Buy a 2001/ 2002 Oldsmobile Intrigue. It's one...,"6,632",Member,"[buy, 2001, 2002, oldsmobile, intrigue, one, b...","[buy, 2001, 2002, oldsmobile, intrigue, one, b...",0,0,0,1,0,0,0,0,0,0
3,2001-10-01,peteri1,Am looking at 1 of 4 choices to replace my 99G...,21,Member,"[looking, 1, 4, choices, replace, 99gs400, ive...","[looking, 1, 4, choices, replace, 99gs400, ive...",0,0,0,0,0,0,0,0,0,0
4,2001-10-01,mrdetailer,Generally a 3-4 year old car range is a good o...,"1,118",Member,"[generally, 34, year, old, car, range, good, o...","[generally, 34, year, old, car, range, good, o...",0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4146,2021-02-01,kyfdx,qbrozen said: show previous quoteskyfdx said:I...,"203,030",Moderator,"[qbrozen, said, show, previous, quoteskyfdx, s...","[qbrozen, said, show, previous, quoteskyfdx, s...",1,1,0,0,0,0,0,0,0,0
4147,2021-02-01,backy,KamCottage said:Thank you backy. Since I first...,"18,946",Member,"[kamcottage, saidthank, backy, since, first, p...","[kamcottage, saidthank, backy, since, first, p...",1,1,0,0,0,0,0,0,0,0
4148,2021-02-01,RayeEliza,I am doing major research in trying to find my...,6,Member,"[major, research, trying, find, new, car, lean...","[major, research, trying, find, new, car, lean...",0,1,0,0,0,0,0,0,0,0
4149,2021-02-01,mlevine,I would lean toward subaru. Need to see which ...,512,Member,"[would, lean, toward, subaru, need, see, model...","[would, lean, toward, subaru, need, see, model...",1,0,0,0,0,0,1,0,0,0
4150,2021-02-01,mcdawgg,RayeEliza said:I am doing major research in tr...,"1,712",Member,"[rayeeliza, saidi, major, research, trying, fi...","[rayeeliza, saidi, major, research, trying, fi...",0,1,0,0,0,0,0,0,0,0

In [42]:
for i in brand_names: 
    print(df.honda.sum())

924
924
924
924
924
924
924
924
924
924