In [2]:
import numpy as np
import pandas as pd
import nltk
from nltk.tokenize import word_tokenize

df = pd.read_csv("data_clean_v2.csv")
df = df.drop(['Unnamed: 0'],axis=1)

df

,Date,User_Id,Message,NumberOfPastPosts,Role,Message_words,Message_words2
0,2001-09-01,pat,Need help choosing your next vehicle? Tell us ...,"10,421",Member,"['Need', 'help', 'choosing', 'next', 'vehicle'...","['Need', 'help', 'choosing', 'next', 'vehicle'..."
1,2001-09-01,willow25,"I'm buying a ""new"" car by the end of the year ...",2,Member,"['Im', 'buying', 'new', 'car', 'end', 'year', ...","['Im', 'buying', 'new', 'end', 'year', 'first'..."
2,2001-10-01,dindak,Buy a 2001/ 2002 Oldsmobile Intrigue. It's one...,"6,632",Member,"['Buy', '2001', '2002', 'Oldsmobile', 'Intrigu...","['Buy', '2001', '2002', 'Oldsmobile', 'Intrigu..."
3,2001-10-01,peteri1,Am looking at 1 of 4 choices to replace my 99G...,21,Member,"['looking', '1', '4', 'choices', 'replace', '9...","['looking', '1', '4', 'choices', 'replace', '9..."
4,2001-10-01,mrdetailer,Generally a 3-4 year old car range is a good o...,"1,118",Member,"['Generally', '34', 'year', 'old', 'car', 'ran...","['Generally', '34', 'year', 'old', 'range', 'g..."
...,...,...,...,...,...,...,...
4146,2021-02-01,kyfdx,qbrozen said: show previous quoteskyfdx said:I...,"203,030",Moderator,"['qbrozen', 'said', 'show', 'previous', 'quote...","['qbrozen', 'said', 'show', 'previous', 'quote..."
4147,2021-02-01,backy,KamCottage said:Thank you backy. Since I first...,"18,946",Member,"['KamCottage', 'saidThank', 'backy', 'Since', ...","['KamCottage', 'saidThank', 'backy', 'Since', ..."
4148,2021-02-01,RayeEliza,I am doing major research in trying to find my...,6,Member,"['major', 'research', 'trying', 'find', 'new',...","['major', 'research', 'trying', 'find', 'new',..."
4149,2021-02-01,mlevine,I would lean toward subaru. Need to see which ...,512,Member,"['would', 'lean', 'toward', 'subaru', 'Need', ...","['would', 'lean', 'toward', 'Need', 'see', 'mo..."
4150,2021-02-01,mcdawgg,RayeEliza said:I am doing major research in tr...,"1,712",Member,"['RayeEliza', 'saidI', 'major', 'research', 't...","['RayeEliza', 'saidI', 'major', 'research', 't..."

In [24]:
# Check for uppercase in middle of tokens and process that way?

# df['Message_words'][0]

['Need',
 'help',
 'choosing',
 'next',
 'vehicle',
 'Tell',
 'us',
 'price',
 'range',
 'thinking',
 'New',
 'Used',
 'buying',
 'leasing',
 'features',
 'musthaves',
 'thoughts',
 'mind',
 'let',
 'us',
 'give',
 'hand',
 'Tell',
 'us',
 'criteria',
 'specifically',
 'canYoull',
 'find',
 'lots',
 'helpful',
 'folks',
 'give',
 'useful',
 'suggestions']

In [9]:
'''import joblib 

spam_model = joblib.load('spam_detector_model.pkl')
spam_xtrain = joblib.load('xtrain.pkl')
spam_ytrain = joblib.load('ytrain.pkl')'''

In [21]:
#defining the text processing method to eliminate punctuation and stopwords
import string

#importing stopwords from the natural language toolkit library 
from nltk.corpus import stopwords

def text_process(mess):
    nopunc =[char for char in mess if char not in string.punctuation]
    nopunc=''.join(nopunc)
    return [word for word in nopunc.split() if word.lower() not in stopwords.words('english')]

df['Message_words'] = df['Message'].apply(text_process)
df

,Date,User_Id,Message,NumberOfPastPosts,Role,Message_words
0,2001-09-01,pat,Need help choosing your next vehicle? Tell us ...,"10,421",Member,"[Need, help, choosing, next, vehicle, Tell, us..."
1,2001-09-01,willow25,"I'm buying a ""new"" car by the end of the year ...",2,Member,"[Im, buying, new, car, end, year, first, choic..."
2,2001-10-01,dindak,Buy a 2001/ 2002 Oldsmobile Intrigue. It's one...,"6,632",Member,"[Buy, 2001, 2002, Oldsmobile, Intrigue, one, b..."
3,2001-10-01,peteri1,Am looking at 1 of 4 choices to replace my 99G...,21,Member,"[looking, 1, 4, choices, replace, 99GS400, Ive..."
4,2001-10-01,mrdetailer,Generally a 3-4 year old car range is a good o...,"1,118",Member,"[Generally, 34, year, old, car, range, good, o..."
...,...,...,...,...,...,...
4146,2021-02-01,kyfdx,qbrozen said: show previous quoteskyfdx said:I...,"203,030",Moderator,"[qbrozen, said, show, previous, quoteskyfdx, s..."
4147,2021-02-01,backy,KamCottage said:Thank you backy. Since I first...,"18,946",Member,"[KamCottage, saidThank, backy, Since, first, p..."
4148,2021-02-01,RayeEliza,I am doing major research in trying to find my...,6,Member,"[major, research, trying, find, new, car, lean..."
4149,2021-02-01,mlevine,I would lean toward subaru. Need to see which ...,512,Member,"[would, lean, toward, subaru, Need, see, model..."
4150,2021-02-01,mcdawgg,RayeEliza said:I am doing major research in tr...,"1,712",Member,"[RayeEliza, saidI, major, research, trying, fi..."

In [4]:
# Read in CSV file for models
df_models = pd.read_csv("models.csv",header=None)

### Remove all occurrences of brands and labels from the corpus

In [5]:
# Add all the brands and makes into a list
wordlist_raw = [brand for brand in df_models[0]]
wordlist_raw.append([model for model in df_models[1]])
wordlist = []
for t in wordlist_raw:
    if t not in wordlist:
        wordlist.append(t)
wordlist

['acura',
 'audi',
 'bmw',
 'buick',
 'cadillac',
 'car',
 'chevrolet',
 'chrysler',
 'dodge',
 'ford',
 'honda',
 'hyndai kia',
 'hyundai',
 'hyundai,',
 'hyundai.',
 'infiniti',
 'kia',
 'kia,',
 'kia.',
 'lincoln',
 'mazda',
 'mercedes',
 'mercury',
 'mitsubishi',
 'nissan',
 'nissan.',
 'pontiac',
 'problem',
 'saturn',
 'seat',
 'sedan',
 'subaru',
 'suzuki',
 'toyata',
 'toyota',
 'volkswagen',
 'volkwagen',
 'volvo',
 ['integra',
  'Legend',
  'vigor',
  'rlx',
  'ILX',
  'MDX',
  'RDX',
  'TSX',
  'RSX',
  'quattro',
  'a4',
  'a6',
  'a5',
  'a7',
  'q3',
  'q5',
  'q7',
  'a8',
  'a3',
  '3-series',
  '5-series',
  '6-series',
  '4-series',
  'xdrive',
  'alpina',
  '330ci',
  '328i',
  '330c',
  '335i',
  '335d',
  '528i',
  '535i',
  '128i',
  '640i',
  '3er',
  '5er',
  'M5',
  'M3',
  'M6',
  'bmws',
  'bmwesque',
  'park avenue',
  'la crosse',
  'lacrosse',
  'century',
  'enclave',
  'encore',
  'regal',
  'buicks',
  'escalade',
  'srx',
  'xts',
  'cars',
  'Grand Blazer',
  'TrailBlazer',
  'trailblazer',
  'Silverado',
  'Colorado',
  'Corvette',
  'Suburban',
  'cavalier',
  'Caprice',
  'Captiva',
  'Equinox',
  'Express',
  'Lacetti',
  'Montana',
  'Uplander',
  'Orlando',
  'Tornado',
  'Tracker',
  'Traverse',
  'caprice',
  'captiva',
  'equinox',
  'express',
  'Camaro',
  'Cobalt',
  'Impala',
  'Lumina',
  'Malibu',
  'Prisma',
  'Tavera',
  'camaro',
  'cobalt',
  'impala',
  'lumina',
  'malibu',
  'tavera',
  'Agile',
  'Celta',
  'Cruze',
  'Lanos',
  'Omega',
  'Optra',
  'Sonic',
  'Spark',
  'Tahoe',
  'agile',
  'cruze',
  'sonic',
  'spark',
  'Aveo',
  'Lova',
  'N200',
  'Niva',
  'Onix',
  'S-10',
  'Sail',
  'Volt',
  'aveo',
  'volt',
  'chevy',
  'malibus',
  'suburban',
  'corvette',
  'town and country',
  'chrysler 300',
  'chrysler 200',
  'pacifica',
  'cruiser',
  'sebring',
  '300M',
  'lx',
  'chryslers',
  'challenger',
  'intrepid',
  'avenger',
  'charger',
  'durango',
  'journey',
  'caliber',
  'stealth',
  'magnum',
  'viper',
  'dart',
  'ram',
  'CrownVictoria',
  'expedition',
  'supervan',
  'freestar',
  'explorer',
  'mustang',
  'ecoline',
  'Tourneo',
  'everest',
  'Fiesta',
  'Fusion',
  'Taurus',
  'galaxy',
  'escape',
  'Focus',
  'f-150',
  'c-max',
  's-max',
  'kuga',
  'cmax',
  'f150',
  'fords',
  'fusions',
  'fusionmilan',
  'Crosstour',
  'Ridgeline',
  'Inspire',
  'Mobilio',
  'Prelude',
  'Shuttle',
  'Spirior',
  'StepWGN',
  'Crider',
  'Insight',
  'Legend',
  'Odyssey',
  'Stream',
  'Amaze',
  'Hobio',
  'N-Box',
  'N-One',
  'N-WGN',
  'Pilot',
  'Vamos',
  'Vezel',
  'Spike',
  'Acty',
  'Brio',
  'City',
  'Civic',
  'CR-V',
  'Freed',
  'Jade',
  'ZEST',
  'Aria',
  'ex-l',
  'CR-Z',
  'Jazz',
  'NSX',
  'nbox',
  'exl',
  'FCX',
  '5DR',
  'crv',
  'pilot',
  'accord',
  'hondas',
  'accords',
  'odessey',
  'crosstour',
  'hyundaikia',
  'Centennial',
  'Grandeur',
  'Veloster',
  'Elantra',
  'Genesis',
  'Tiburon',
  'Tuscani',
  'Dynasty',
  'Santamo',
  'Stellar',
  'Accent',
  'Lantra',
  'Avante',
  'Santro',
  'Sonata',
  'Scoupe',
  'Matrix',
  'Lavity',
  'Verna',
  'Equus',
  'azera',
  'Xcent',
  'Click',
  'Atos',
  'Atoz',
  'ix20',
  'Getz',
  'Pony',
  'i10',
  'i20',
  'i30',
  'i40',
  'i45',
  'xg',
  'santa',
  'sonatas',
  'hyundais',
  'veracruz',
  'Excel,',
  'Excel.',
  'qx50',
  'qx60',
  'qx70',
  'fx35',
  'q50',
  'q60',
  'q70',
  'g37',
  'g25',
  '6mt',
  'cadenza',
  'sorento',
  'sedona',
  'forte',
  'koup',
  'k900',
  'kias',
  'optima',
  'optima',
  'optima',
  'navigator',
  'town car',
  'zephyr',
  'mkz',
  'mks',
  'mkx',
  'mkc',
  'mkt',
  'AZ-Offroad',
  'AZ-Wagon',
  'Familia',
  'Premacy',
  'Biante',
  'Carol',
  'Scrum',
  'Mazda2',
  'Mazda3',
  'Mazda5',
  'Atenza',
  'Mazda6',
  'Mazda8',
  'Bongo',
  'Demio',
  'Axela',
  'RX-8',
  'CX-7',
  'BT-50',
  'rx-8',
  'MX-5',
  'CX-5',
  'CX-9',
  '6i',
  'cx9',
  'cx5',
  'rx8',
  'mazdas',
  'mazda6s',
  'mazda6i',
  'mercedes-benz',
  'benz',
  'cl-class',
  'c-class',
  'e-class',
  's-class',
  'mercedesbenz',
  'milan',
  'mercury',
  'galant',
  'lancer',
  'pathfinder',
  'frontier',
  'sentra',
  'altima',
  'maxima',
  'murano',
  'armada',
  'xterra',
  'versa',
  'rogue',
  'titan',
  'cube',
  'juke',
  'leaf',
  '370z',
  'altimas',
  'nissans',
  'quest.',
  'quest,',
  'Streamliner',
  'grand prix',
  'grand am',
  'sunfire',
  'Torpedo',
  'aztek',
  'Vibe',
  'Wave',
  'vibe',
  'gxp',
  'gto',
  'G6',
  'g3',
  'g4',
  'g5',
  'g6',
  'g8',
  'problems',
  'aura',
  'seats',
  'sedans',
  'Outback Sport',
  'grand wagon',
  'Impreza XV',
  'crosstrek',
  'lancaster',
  'Forester',
  'Impreza',
  'tribeca',
  'liberty',
  'Outback',
  'gravel',
  'Legacy',
  'Sambar',
  'Stella',
  'Exiga',
  'Pleo',
  'BRZ',
  'wrx',
  'Dex',
  'R1',
  'R2',
  'Every Landy',
  'Cappuccino',
  'Mighty Boy',
  'geo metro',
  'MR Wagon',
  'Palette',
  'Wagon R',
  'Kizashi',
  'Equator',
  'Splash',
  'Ertiga',
  'cultus',
  'Esteem',
  'Fronte',
  'escudo',
  'Lapin',
  'Solio',
  'Swift',
  'Landy',
  'Jimny',
  'Aerio',
  'liana',
  'Cervo',
  'forsa',
  'Ignis',
  'X-90',
  'XL7',
  'SX4',
  'APV',
  'camrybest',
  'Corolla/Sprinter',
  'Urban Cruiser',
  'Land Cruiser',
  'Highlander',
  'FJ Cruiser',
  'Hilux Surf',
  'Fortuner',
  'Stallion',
  'Vanguard',
  '4Runner',
  'Alphard',
  'Avensis',
  'Century',
  'Coaster',
  'Comfort',
  'Granvia',
  'LiteAce',
  'Scepter',
  'Sequoia',
  'Succeed',
  'TownAce',
  'ToyoAce',
  'Venture',
  'Allion',
  'Aurion',
  'Avalon',
  'Avanza',
  'Condor',
  'Fiedler',
  'Majesta',
  'Estima',
  'HiClass',
  'Innova',
  'Kijang',
  'Kingdom',
  'Kluger',
  'Matrix',
  'MiniAce',
  'Picnic',
  'Premio',
  'Probox',
  'Qualis',
  'Ractis',
  'Sienna',
  'Sienta',
  'Sparky',
  'Tacoma',
  'Tamaraw',
  'Tarago',
  'Tundra',
  'Vienta',
  'Auris',
  'Belta',
  'Camry',
  'Carri',
  'Rumion',
  'Etios',
  'Hilux',
  'Hiace',
  'Mark X',
  'Passo',
  'Porte',
  'Prius',
  'Sofia',
  'Tiara',
  'Venza',
  'Verso',
  'Yaris',
  'Zelas',
  'Aygo',
  'Cami',
  'Dyna',
  'Isis',
  'Nadia',
  'Noah',
  'Raum',
  'RAV4',
  'Reiz',
  'Vios',
  'Voxy',
  'Platz',
  'Axio',
  'ist',
  'Sai',
  'Vitz',
  'Echo',
  'bB',
  'iQ',
  'Zio',
  'camry',
  'prius',
  'venza',
  'camrys',
  'avalon',
  'solara',
  'corolla',
  'toyotas',
  'highlander',
  'sportwagen',
  'touraeg',
  'passat',
  'tiguan',
  'beetle',
  'rabbit',
  'jetta',
  'golf',
  'gti',
  'eos',
  'volkwagen',
  'vw',
  'vws',
  'passats',
  'passat',
  'xc60',
  'xc70',
  'xc90',
  's60',
  's80',
  'v60',
  'c70']]

In [9]:
# Remove brands and makes
def remove_brands(text):
    filtered = []
    for t in text:
        if (not any(t.lower() in word for word in wordlist)) and (not any(t in word for word in wordlist)):
            filtered.append(t)    
    return filtered

df['Message_words'] = df['Message_words'].apply(remove_brands)

In [10]:
df

,Date,User_Id,Message,NumberOfPastPosts,Role,Message_words,Message_words2
0,2001-09-01,pat,Need help choosing your next vehicle? Tell us ...,"10,421",Member,"[[, ', ', ', ', ', ', ', x, ', ', ', ', ', ', ...","['Need', 'help', 'choosing', 'next', 'vehicle'..."
1,2001-09-01,willow25,"I'm buying a ""new"" car by the end of the year ...",2,Member,"[[, ', ', ', ', ', ', ', ', ', ', ', ', ', ', ...","['Im', 'buying', 'new', 'end', 'year', 'first'..."
2,2001-10-01,dindak,Buy a 2001/ 2002 Oldsmobile Intrigue. It's one...,"6,632",Member,"[[, ', ', ', 2, 0, 0, 1, ', ', 2, 0, 0, 2, ', ...","['Buy', '2001', '2002', 'Oldsmobile', 'Intrigu..."
3,2001-10-01,peteri1,Am looking at 1 of 4 choices to replace my 99G...,21,Member,"[[, ', ', ', 1, ', ', 4, ', ', ', ', ', ', 9, ...","['looking', '1', '4', 'choices', 'replace', '9..."
4,2001-10-01,mrdetailer,Generally a 3-4 year old car range is a good o...,"1,118",Member,"[[, ', ', ', 3, 4, ', ', ', ', ', ', ', ', ', ...","['Generally', '34', 'year', 'old', 'range', 'g..."
...,...,...,...,...,...,...,...
4146,2021-02-01,kyfdx,qbrozen said: show previous quoteskyfdx said:I...,"203,030",Moderator,"[[, ', q, ', ', ', ', ', ', ', ', q, x, ', ', ...","['qbrozen', 'said', 'show', 'previous', 'quote..."
4147,2021-02-01,backy,KamCottage said:Thank you backy. Since I first...,"18,946",Member,"[[, ', ', ', ', ', ', ', ', ', ', ', ', ', q, ...","['KamCottage', 'saidThank', 'backy', 'Since', ..."
4148,2021-02-01,RayeEliza,I am doing major research in trying to find my...,6,Member,"[[, ', j, ', ', ', ', ', ', ', ', ', ', ', ', ...","['major', 'research', 'trying', 'find', 'new',..."
4149,2021-02-01,mlevine,I would lean toward subaru. Need to see which ...,512,Member,"[[, ', ', ', ', ', ', ', ', ', ', ', ', ', ', ...","['would', 'lean', 'toward', 'Need', 'see', 'mo..."
4150,2021-02-01,mcdawgg,RayeEliza said:I am doing major research in tr...,"1,712",Member,"[[, ', ', ', ', ', j, ', ', ', ', ', ', ', ', ...","['RayeEliza', 'saidI', 'major', 'research', 't..."